[submodule "glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "vma"]
	path = third_party/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
