[submodule "glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
